.carouselSectoinSwiperContent {
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #eee;
    cursor: pointer;
}
.carouselSectoinSwiperContent img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.carouselSectoinSwiperContent:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}