.checkoutBtn {
    color: #fff !important;
    background-color: #5c0696 !important;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}