.portfolioCard-text h3 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.portfolioCard-text h3:hover {
    color: #0500b5;
}
.portfolioCard-text p {
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 0.8px;
    color: #777;
    text-transform: uppercase;
}